jenkins/home/**/*.log*
jenkins/home/**/*.bak
jenkins/home/.*
jenkins/home/**/*.key*
jenkins/home/keys
jenkins/home/updates
jenkins/home/userContent
jenkins/home/plugins

jenkins/home/jobs/*/builds
jenkins/home/jobs/*/configurations
jenkins/home/jobs/*/workspace
jenkins/home/jobs/*/lastSuccessful
jenkins/home/jobs/*/lastStable
jenkins/home/jobs/*/nextBuildNumber

jenkins/home/*.xml
!jenkins/home/config.xml
!jenkins/home/credentials.xml

jenkins/home/secrets/*
!jenkins/home/secrets/*.crypt
!jenkins/home/secrets/slave-to-master-security-kill-switch

jenkins/home/users/*
!jenkins/home/users/jenkins

.vagrant
